/*header{
      background:url('img/back1.jpg');
      background-size:cover;
      background-position:center;
      min-height:1000px;
      
    }*/
    a.waves-effect.waves-light.btn.tele {
      background: #000;
      box-shadow: 6px 6px 6px teal;
  }

  a.waves-effect.waves-light.btn.stall {
    background: #666;
    box-shadow: 6px 6px 6px teal;
}

    .card .card-action{
      font-size:23px;
      font-weight:bold;
    }

    .card-title{
      font-weight:bold;
      color:#ffd8a6;
      text-shadow:2px 2px 2px #000;
    }

    .video-container iframe {
      padding-bottom: 17px;
  }

  a.waves-effect.waves-light.btn.pulse.event {
    background-color: #f16702;
    box-shadow: 4px 4px 4px #000;
}

a.waves-effect.waves-light.btn.pulse.addshadow {
  box-shadow: 3px 3px 3px #000;
}

    .fab{
        font-size:50px;
        color:#f16702;
        text-shadow:2px 2px 2px #000;
    }
    span.slogan {
        position: absolute;
        color: #fff;
        font-weight: bold;
        font-size: 46px;
        text-shadow: 4px 4px 4px #f16702;
        width: 100%;
        top: 78px; /*95px;*/
        letter-spacing: 2px;
        text-align: center;
        font-family: 'Teko', sans-serif;
        z-index:99999;
    }

    .swiper-container {
        width: 600px;
       /* height: 300px;*/
    }
    
    .swiper-button-next {
        display: none !important;
    }
    
    .swiper-button-prev {
        display: none !important;
    }
    
        
        h2{
          font-size:2.56rem !important;
        }
    .parallax-container {
        position: relative;
        overflow: hidden;
        height: 300px !important;
    }
        nav ul a {
        color: #000;
        font-weight: bold;
    }
        .header-slideshow{
          min-height:500px;
          min-width:100%;
          max-width:100%;
          overflow:hidden;
        }
    
        .carousel{
          min-height:600px;
    
        }
        header{
          background:#000;
          /*background:url('img/back_gif.gif');
          background-repeat:no-repeat;
          background-size:cover;*/
        }
    
        
        .header-image{
        /* width:100% !important;
          min-width:100%;
          overflow:hidden;
          background:url('img/logo.jpg');
          background-repeat:no-repeat;
          background-size:contain;
          height:680px; 
          background-position:center;*/
          height:680px;
          position:relative;
          top:54px; /*1px;*/
         /* box-shadow:5px 5px 5px #ccc;*/
        }
    
        .header-image img{
          width:100% !important;
          max-width:100%;
          min-width:100%;
          overflow:hidden;
        }
    
    
        span.top-logo {
        z-index: 999999999;
        position: absolute;
        top: 1px;
        /* transform: translate(50%, 50%); */
        left: 10%;
        width:200px;
        height:200px;
        text-align:center;
        /* display: none; */
    }
    
    section{
      padding-top:4vw;
      padding-bottom:4vw;
    }
    /*
    .btn-floating {
      background:#ffffff !important;
    }*/

    li.btn-floating.pulse {
        width: 120px;
        border-radius: 0px;
        top: 14px;
    }
    .nav-wrapper{
      background-color:#f16702 !important;
    }
    
    span.top-logo img {
      width: 60%;
        position: relative;
        top: 18%;
    }
    

    ul#mobile-menu {
      z-index: 9999999;
  }
    
    @media screen and (max-width:1366px){
          
          .header-image{
            height:596px !important;
            top:1px;
          }

          span.slogan {
            font-size:30px;
          }
        }
    
    @media screen and (max-width:1024px){
          
          .header-image{
            height:642px !important;
          }
        }
    
        @media screen and (max-width:670px){
          a.waves-effect.waves-light.btn.tele {
         
            margin-top: 18px;
        }
            .fab{
                font-size:30px;
                padding: 9px;
            }
          .pulse::before{
            width:84% !important;
          }
          /*header{
            min-height:500px;
          }*/
          .swiper-container {
              width: 100%;
            /* height: 300px;*/
          }
          .header-image{
            height:50% !important;
            top:52px;
          }
    
          nav .brand-logo {
        font-size: 1.5rem;
            }
    
            h2 {
        font-size: 2.40rem !important;
    }
          
          .parallax-container {
        height: 150px !important;
    }
    span.slogan{
        font-size:18px;
        top:72px;
    }
    
        }


        @media screen and (max-width:415px){
          .header-image {
              height: 64% !important;
          }

          nav .brand-logo {
              font-size: 17px;
          }

      }

        @media screen and (max-width:376px){
            .header-image {
                height: 54% !important;
            }

            nav .brand-logo {
                font-size: 17px;
            }

        }


        @media screen and (max-width:360px){
          .header-image {
              height: 68% !important;
          }

          nav .brand-logo {
              font-size: 17px;
          }

      }